<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { categoryGroup } from "../../interfaces";
import { ImageUrlMixin, ParseUrlMixin } from "~/mixins";
export default Vue.extend({
  mixins: [ParseUrlMixin, ImageUrlMixin],
  props: {
    groupedPosts: {
      type: Array as PropType<categoryGroup[]>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="recent-posts">
      <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-32">{{
        $t("homepage.categoryPosts.header")
      }}</SlpTypography>
      <div class="cards">
        <div
          class="card"
          v-for="group in groupedPosts"
          :key="group.category.fields.name"
        >
          <SlpTypography
            tag="a"
            :href="`/blog/categories/${group.category.fields.slug}`"
            v-if="group.category?.fields?.name"
          >
            {{ group.category.fields.name }}</SlpTypography
          >
          <a
            class="section"
            v-for="(post, index) in group.posts"
            :key="post.fields.title"
            :href="parseUrl(post)"
          >
            <img
              loading="lazy"
              :src="parseImageUrl(post.fields.image?.fields.file.url, 318, 222)"
              :alt="post.fields.image?.fields.title"
              v-if="!index && post.fields?.image?.fields?.file?.url"
            />
            <SlpTypography
              variant="heading5-bold"
              tag="h3"
              v-if="post.fields?.title"
              >{{ post.fields.title }}</SlpTypography
            >
            <SlpTypography
              variant="body1"
              tag="p"
              v-if="!index && post.fields?.description"
            >
              {{ post.fields.description }}
            </SlpTypography>
          </a>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.recent-posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 64px 0;
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    .card,
    .section {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      color: $color-text-300;
    }
    .section {
      color: $color-text-300;
      img {
        width: 318px;
        min-height: 222px;
        height: 222px;
        object-fit: cover;
        @media (max-width: $breakpoint-lg) {
          max-width: 100%;
        }
      }
      padding-bottom: 16px;
      border-bottom: 1px solid $color-surface-200;
    }
    .card {
      padding: 16px;

      &:hover {
        background-color: #f6f3fe;
        transition: background 0.3s ease, border-radius 0.3s ease !important;
        border-radius: 8px 8px 50px 8px;
      }
    }
  }
}
</style>
