<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Pagination",
  components: {},
  props: {
    totalPages: {
      type: Number,
      required: true,
    },
    perPage: {
      type: Number,
      required: false,
      default: 9,
    },
    currentPage: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      maxVisiblePages: 10,
      showLeftEllipsis: false,
      showRightEllipsis: false
    };
  },
  computed: {
    pages() {
      const startPage = Math.max(
        1,
        this.currentPage - Math.floor(this.maxVisiblePages / 2)
      );
      const endPage = Math.min(
        this.totalPages,
        startPage + this.maxVisiblePages - 1
      );
      this.showLeftEllipsis = startPage > 1
      this.showRightEllipsis = endPage < this.totalPages
      const range = [];


      for (let i = startPage; i <= endPage; i++) {
        range.push({ name: i, isDisabled: i === this.currentPage });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    }
  },
  methods: {
    onClickPreviousPage() {
      this.$emit("pageChange", Number((this as any).currentPage) - 1);
    },
    onClickPage(page: number) {
      this.$emit("pageChange", page);
    },
    onClickNextPage() {
      this.$emit("pageChange", Number((this as any).currentPage) + 1);
    },
    isPageActive(page: number) {
      return this.currentPage === page;
    },
  },
});
</script>

<template>
  <div class="pagination">
    <ul>
      <li v-if="!isInFirstPage && totalPages !== 0">
        <SlpButton
          variant="secondary"
          :disabled="isInFirstPage"
          @click.native="onClickPreviousPage()"
        >
          <SlpIcon class="slp-mr-8" name="chevron-lg-left" variant="product" />
          Previous
        </SlpButton>
      </li>
      <li v-if="showLeftEllipsis">
        <SlpButton
          variant="secondary"
          :disabled="true"
        >
          ...
        </SlpButton>
      </li>
      <li v-for="page in pages" :key="page.name">
        <SlpButton
          class=""
          variant="secondary"
          :disabled="page.isDisabled"
          :class="{ 'pagination--active': isPageActive(page.name) }"
          @click.native="!page.isDisabled && onClickPage(page.name)"
          v-if="page.name"
        >
          {{ page.name }}
        </SlpButton>
      </li>
      <li v-if="showRightEllipsis">
        <SlpButton
          variant="secondary"
          :disabled="true"
        >
          ...
        </SlpButton>
      </li>
      <li v-if="!isInLastPage && totalPages !== 0">
        <SlpButton
          variant="secondary"
          :disabled="isInLastPage"
          @click.native="onClickNextPage()"
        >
          Next
          <SlpIcon class="slp-ml-8" name="chevron-lg-right" variant="product" />
        </SlpButton>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.pagination {
  display: flex;
  justify-content: center;
  padding: $spacing-24;

  &--active {
    background-color: $color-surface-800 !important;
    color: $color-primary-200 !important;
  }

  ul {
    display: flex;

    .slp-btn {
      justify-content: center;
      padding: $spacing-4 12px;
      margin: 0;
      min-width: unset;

      &:not(.slp-btn-disabled) {
        color: $color-surface-700;
      }

      &:hover:not(.slp-btn-disabled) {
        background-color: #e3d6ff;
      }
    }
  }
}
</style>
