<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { post } from "../../interfaces";
import PostCard from "./post-card.vue";
export default Vue.extend({
  components: {
    PostCard,
  },
  props: {
    posts: {
      type: Array as PropType<post[]>,
      required: true,
    },
    header: {
      type: String,
      required: false,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="recent-posts">
      <SlpTypography
        v-if="header"
        variant="heading2-bold"
        tag="h2"
        class="slp-mb-32"
        >{{ header }}</SlpTypography
      >
      <div class="cards">
        <PostCard v-for="post in posts" :key="post.fields.title" :post="post" />
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.recent-posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 64px 0;

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
</style>