<script lang="ts">
import Vue from 'vue';
import SlpSearchBar from './search-bar.vue';

export default Vue.extend({
  name: 'SlpNavigationHOC',
  components: {
    SlpSearchBar,
  },
  data() {
    return {
      searchVisible: false,
    };
  },
  mounted() {
    document.addEventListener('searchClick', this.toggleDesktopSearch);
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false;
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible;
      if (this.searchVisible) {
        this.sendFocusToSearch();
      }
    },
    openDesktopSearch() {
      this.searchVisible = true;
      this.sendFocusToSearch();
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any;
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus();
      }, 350);
    },
  },
});
</script>

<template>
  <div class="nav-hoc">
    <client-only>
      <p>Hello</p>
      <SlpNavigation free-trial-variant="primary" />

      <slp-search-bar
        v-show="searchVisible"
        ref="searchBar"
        :on-close="closeDesktopSearch"
      />
    </client-only>
  </div>
</template>

<style lang="scss">
.nav-hoc {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;

  .navigation-dropdown__popover {
    a {
      text-decoration: none !important;
    }
  }
}
</style>
