<script lang="ts">
import Vue from "vue";
import SlpNavigationHOC from "../components/navigation/navigation-hoc.vue";
import { getNavigationClient } from "~/plugins/contentful";
import { NAV_CONTENT_TYPES } from "~/contentful-types";
import { convertToCaseSensitiveLocale } from "~/common/util";

export default Vue.extend({
  components: {
    SlpNavigationHOC,
  },
  data() {
    return {
      navigation: null,
      footer: null,
      baseUrl: ''
    };
  },
  async fetch() {
    if (!this.$nuxt.context.payload) {
      if(process.env.NODE_ENV !== 'development'){
        console.log('Info: Navigation payload not found, requesting navigation data. Path: ', `/blog${this.$route.fullPath}`);
      }

      const navigationEntry = await getNavigationClient().getEntries({
        content_type: NAV_CONTENT_TYPES.NAVIGATION,
        include: 3,
        "sys.id": "4ANorm7zz94uE5N6oexbdi",
        locale: convertToCaseSensitiveLocale(this.$i18n.locale),
      });

      const footerEntry = await getNavigationClient().getEntries({
        content_type: NAV_CONTENT_TYPES.FOOTER,
        "sys.id": "QxdoqHd5ixKTwFjIHYvYI",
        include: 3,
        locale: convertToCaseSensitiveLocale(this.$i18n.locale),
      });

      const [footer] = footerEntry.items;
      const [navigation] = navigationEntry.items;

      this.footer = footer;
      this.navigation = navigation;
    } else {
      // Production build
      const { footer, navigation } = this.$nuxt.context.payload[this.$i18n.locale];
      this.footer = footer;
      this.navigation = navigation;
    }
  },
  head() {
    let path;
    if (this.$route.path === "/") {
      path = "https://about.gitlab.com/blog/";
    } else if (this.$route.path.endsWith("/")) {
      path = `https://about.gitlab.com/blog${this.$route.path}`;
    } else {
      path = `https://about.gitlab.com/blog${this.$route.path}/`;
    }
    return {
      link: [
        {
          rel: "canonical",
          href: path,
        },
      ],
    };
  },
  mounted() {
    this.initSearchListener();
    if (process.client) {
      this.baseUrl = window.location.origin;
    }
  },
  destroyed() {
    document.removeEventListener("navSearch", this.redirectToSearch);
  },
  methods: {
    initSearchListener() {
      document.addEventListener("navSearch", this.redirectToSearch);
    },
    redirectToSearch(event: any) {
      const url = `https://about.gitlab.com/search?searchText=${event.detail.searchText}`;
      window.location.replace(url);
    },
  },
});
</script>

<template>
  <div>
    <!-- <SlpNavigationHOC /> -->
    <client-only>
      <SlpNavigation
        v-if="navigation && !$fetchState.pending"
        free-trial-variant="primary"
        :contentful-navigation-data="navigation"
      />
    </client-only>
    <Nuxt role="main" />
    <client-only>
      <SlpFooter
        v-if="footer && !$fetchState.pending"
        :contentful-footer-data="footer"
        :baseUrl="`${baseUrl}/blog`"
      />
    </client-only>
  </div>
</template>
