<script lang="ts">
// This page is the fallback for pages in PRODUCTION.
// This does not work as a fallback for errors on your local dev server
// See MR: https://gitlab.com/gitlab-com/marketing/digital-experience/buyer-experience/-/merge_requests/3255

import Vue from "vue";
import error404 from "~/components/error/404-error.vue";

export default Vue.extend({
  components: {
    error404,
  },
  head() {
    const title = `404 | GitLab`;
    return {
      title,
      link: [
        {
          rel: "canonical",
          href: "https://about.gitlab.com/blog/404",
        },
      ],
      meta: [
        {
          name: "robots",
          content: "noindex",
        },
      ],
    };
  },
});
</script>

<template>
  <error404 />
</template>
