<script>
import { getClient } from "~/plugins/contentful.js";
import { NewsLetterForm } from "../components/home/index.vue";
import { CONTENT_TYPES } from "../contentful-types";
import { BlogList } from "../components/archive/index.vue";
import { CONFIDENTIAL_TAG } from "~/common/constants.ts";

export default {
  components: {
    NewsLetterForm,
    BlogList,
  },
  // Removing localized pages temporarily
  nuxtI18n: false,
  async asyncData() {
    try {
      const {items: blogPosts} = await getClient().getEntries({
        content_type: CONTENT_TYPES.BLOG_POST,
        "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG,
        order: "-fields.date",
        limit: 250
      })

      return {blogPosts}
    } catch (e) {
      throw new Error(e);
    }
  },
  head(){
    const title = `GitLab Blog Archives`;
    const meta = [
      {
        hid: "og:title",
        name: "og:title",
        content: title,
      },
      {
        hid: "twitter:title",
        name: "twitter:title",
        content: title,
      },
    ];

    return {
      title,
      meta
    }
  }
};
</script>
<template>
  <div>
    <SlpContainer class="slp-my-96">
      <SlpTypography variant="heading1-bold" tag="h1"
        >GitLab Blog Archives</SlpTypography
      >
    </SlpContainer>
    <NewsLetterForm />
    <SlpContainer>
      <BlogList :posts="blogPosts" />
    </SlpContainer>
  </div>
</template>
