<script>
import { getClient } from "~/plugins/contentful.js";
import {
  Hero,
  Search,
  NewsLetterForm,
  CategoryGroups,
} from "../components/home/index.vue";
import { PostGrid } from "../components/common/index.vue";
import { CONTENT_TYPES } from "../contentful-types";
import { PreviewMixin } from "../mixins";
import { createMeta } from "~/common/meta";
import { CONFIDENTIAL_TAG } from "~/common/constants.ts";
import { convertToCaseSensitiveLocale } from '~/common/util';

export default {
  components: {
    Hero,
    Search,
    NewsLetterForm,
    PostGrid,
    CategoryGroups,
  },
  mixins: [PreviewMixin],
  // Removing locliazed pages while the homepage is localized
  async asyncData({ i18n }) {
    const locale = i18n.locale === i18n.defaultLocale ? "" : convertToCaseSensitiveLocale(i18n.locale);
    // Get all Categories synchronously to build a promise array to fetch the rest of the data
    try {
      const categories = await getClient().getEntries({
        content_type: CONTENT_TYPES.BLOG_CATEGORIES,
        order: "fields.name",
      });
      // Build a promise array where each promise gets 3 blog posts from a specific category
      const categoryPostPromises = categories.items.map((category) =>
        getClient().getEntries({
          content_type: CONTENT_TYPES.BLOG_POST,
          "fields.category.sys.id": category.sys.id,
          "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG, // Exclude entries with the Confidential tag
          order: "-fields.date",
          "fields.description[ne]": "#",
          "fields.body[ne]": "#",
          locale,
          limit: 3,
        })
      );

      // Get the most recent featured post
      const mainFeature = await getClient().getEntries({
        content_type: CONTENT_TYPES.BLOG_POST,
        order: "-fields.date",
        "fields.featured": true,
        "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG, // Exclude entries with the Confidential tag
        "fields.description[ne]": "#",
        "fields.body[ne]": "#",
        locale,
        limit: 1,
      });

      return Promise.all([
        // Get the most recent 3 post for the featured list, without picking the main featured posts
        getClient().getEntries({
          content_type: CONTENT_TYPES.BLOG_POST,
          // the - at the begining reverses the ordering
          order: "-fields.date",
          "sys.id[ne]": mainFeature.items[0].sys.id,
          "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG, // Exclude entries with the Confidential tag
          'fields.description[ne]':'#',
          'fields.body[ne]':'#',
          locale,
          limit: 3,
        }),
        // Get another 3 recent posts, skipping 4
        getClient().getEntries({
          content_type: CONTENT_TYPES.BLOG_POST,
          order: "-fields.date",
          "metadata.tags.sys.id[nin]": CONFIDENTIAL_TAG, // Exclude entries with the Confidential tag
          'fields.description[ne]':'#',
          'fields.body[ne]':'#',
          locale,
          limit: 3,
          skip: 4,
        }),
        ...categoryPostPromises,
      ]).then(([recentFeatured, recent, ...groupedPosts]) => {
        const groups = groupedPosts
          .filter((group) => group.items.length)
          .map((group) => ({
            category: group.items[0].fields.category,
            posts: group.items,
          }));
        return {
          hero: {
            mainPost: mainFeature.items[0],
            featuredList: recentFeatured.items,
          },
          recentPosts: recent.items,
          categories: categories.items,
          groupedPosts: groups,
        };
      });
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    const metaData = createMeta({
      title: "Blog | GitLab",
      description:
        "Tutorials, product information, expert insights, and more from GitLab to help DevSecOps teams build, test, and deploy secure software faster.",
    });

    return {
      title: "Blog | GitLab",
      meta: metaData,
    };
  },
};
</script>
<template>
  <div>
    <Hero v-bind="hero" />
    <Search :categories="categories" />
    <NewsLetterForm v-if="!isPreview && $i18n.locale === $i18n.defaultLocale" />
    <PostGrid :posts="recentPosts" :header="$t('homepage.recentPosts.header')" />
    <CategoryGroups :groupedPosts="groupedPosts" />
  </div>
</template>
