<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { quote } from "../../interfaces";
import { ImageUrlMixin } from "~/mixins";
export default Vue.extend({
  mixins: [ImageUrlMixin],
  props: {
    quote: {
      type: Object as PropType<quote>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="quote-container" :class="quote.fields.variant">
    <div class="quote-text">
      <SlpIcon name="quote" variant="marketing" size="lg" />
      <SlpTypography variant="quotes" tag="p" v-if="quote.fields?.text">{{
        quote.fields.text
      }}</SlpTypography>
      <div class="author">
        <SlpTypography variant="body1-bold" tag="p" v-if="quote.fields?.authorName"
          >- {{ quote.fields.authorName }},</SlpTypography
        >
        <SlpTypography variant="body1" tag="p" v-if="quote.fields?.authorRole"
          >{{ quote.fields.authorRole }},
        </SlpTypography>
        <SlpTypography variant="body1" tag="p" v-if="quote.fields?.authorCompany">{{
          quote.fields.authorCompany
        }}</SlpTypography>
      </div>
    </div>
    <div class="image">
      <img
        :src="parseImageUrl(quote.fields.image.fields.file.url, 154, 154)"
        :alt="quote.fields.image.fields.title"
        v-if="quote.fields?.image?.fields?.file?.url"
      />
    </div>
    <svg
      width="37"
      height="16"
      viewBox="0 0 37 16"
      fill="none"
      class="decoration"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="Polygon 2"
        d="M18.5 15.6L-1.31134e-06 0.599976L36.5 0.599976L18.5 15.6Z"
        fill="#F6F3FE"
      />
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.author {
  display: flex;
  gap: 8px;
}
.quote-container {
  margin-top: 40px;
}

.decoration {
  display: none;
}
.image img {
  display: none;
}

.quote-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.default-quote {
  padding: 64px 40px;
  position: relative;
  border-radius: 8px;
  background: $color-surface-800;
  .decoration {
    position: absolute;
    display: block;
    right: 64px;
    bottom: -15px;
  }
}

.image-quote {
  position: relative;
  padding: 64px 40px;
  border-radius: 8px;
  margin-bottom: 68px;
  background: $color-surface-800;

  @media (min-width: $breakpoint-lg) {
    margin-right: 77px;
  }

  .image img {
    @media (min-width: $breakpoint-lg) {
      display: block;
    }
    position: absolute;
    width: 154px;
    height: 154px;
    border-radius: 4px 4px 64px 4px;
    right: -77px;
    bottom: -38px;
  }
}

.light-quote {
  border-left: 4px solid var(--slp-color-accent-500, #7759c2);
  padding: 16px 40px;
}
</style>