<script lang="ts">
import Vue from "vue";
import type { PropType } from "vue";
import { MktoFrom } from "../common/index.vue";
import { post } from "~/interfaces";
import { ParseUrlMixin } from "~/mixins";
export default Vue.extend({
  components: {
    MktoFrom,
  },
  mixins: [ParseUrlMixin],
  data() {
    return {
      formData: {
        form_id: 1077,
        form_header: "Sign up for GitLab’s newsletter",
        datalayer: "blog-subscription"
      },
    };
  },
  props: {
    post: {
      type: Object as PropType<post>,
        required: false,
      },
      isPreview: {
        type: Boolean,
        default: false,
      },
  }
});
</script>

<template>
  <div class="wrapper">
    <div class="content">
      <slot />
    </div>
    <div class="share">
      <div class="sticky-container">
        <SlpTypography variant="body1-bold" tag="p"
          >{{ $t('share.header') }}</SlpTypography
        >
        <div class="social-icon-links">
          <a
            :href="`https://twitter.com/intent/tweet?text=Check%20out%20${post.fields.title.replaceAll(
              ' ',
              '%20'
            )}&url=https://about.gitlab.com${parseUrl(post, $i18n.locale)}`"
            class="social-link twitter-link twitter-share-button"
            target="_blank"
            data-toggle="tooltip"
            title="Share on twitter"
            data-ga-name="twitter"
            data-ga-location="body"
          >
            <SlpIcon name="twitter-x" variant="marketing" size="sm" />
          </a>
          <a
            :href="`https://www.linkedin.com/shareArticle?mini=true&url=https://about.gitlab.com${parseUrl(post, $i18n.locale)}`"
            class="social-link linkedin-link"
            target="_blank"
            data-toggle="tooltip"
            title="GitLab on LinkedIn"
            data-ga-name="linkedin"
            data-ga-location="body"
          >
            <SlpIcon name="linkedin" variant="marketing" size="sm" />
          </a>
          <a
            :href="`https://www.facebook.com/sharer/sharer.php?u=https://about.gitlab.com${parseUrl(post, $i18n.locale)}`"
            class="social-link facebook-link"
            target="_blank"
            data-toggle="tooltip"
            title="GitLab on Facebook"
            data-ga-name="facebook"
            data-ga-location="body"
          >
            <SlpIcon name="facebook" variant="marketing" size="sm" />
          </a>
          <a
            :href="`https://news.ycombinator.com/submitlink?u=https://about.gitlab.com${parseUrl(post, $i18n.locale)}&t=Check%20out%20${post.fields.title.replaceAll(
              ' ',
              '%20'
            )}`"
            class="social-link linkedin-link"
            target="_blank"
            data-toggle="tooltip"
            title="GitLab on YouTube"
            data-ga-name="hacker news"
            data-ga-location="body"
          >
            <SlpIcon name="hackernews" variant="marketing" size="sm" />
          </a>

          <a
            :href="`https://www.threads.net/intent/post?text=https://about.gitlab.com${parseUrl(post, $i18n.locale)}`"
            class="social-link"
            data-toggle="tooltip"
            data-ga-name="threads"
            data-ga-location="body"
          >
            <SlpIcon
              color="#000"
              name="threads"
              variant="marketing"
              size="sm"
            />
          </a>
        </div>
        <MktoFrom v-if="$i18n.locale === $i18n.defaultLocale" :data="formData" class="newsletter-form" :is-preview="isPreview"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-top: 40px;
  gap: 64px;
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr;
  }
}
.social-icon-links {
  display: flex;
  gap: 28px;
  padding: 14px 0;
}
.newsletter-form {
  padding: 24px 0;
  &:deep(.form_header) {
    color: $color-text-300;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
      @media (max-width: $breakpoint-lg) {
      text-align: center;
    }
  }
  &:deep(.form_container) {
    padding: 24px;
  }
  &:deep(.required_label) {
    display: none;
  }
  &:deep(#LblEmail) {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 8px;
    width: 100%;
  }
  &:deep(#LblCountry) {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 8px;
    width: 100%;
  }
  &:deep(#Country) {
    @media (max-width: $breakpoint-lg) {
      width: 100% !important;
    }
  }
  &:deep(.mktoGutter.mktoHasWidth) {
    display: none;
  }
  &:deep(.mktoOffset.mktoHasWidth) {
    display: none;
  }
  &:deep(.mktoHtmlText.mktoHasWidth) {
    color: $color-text-200;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    a {
      color: $color-text-200;
      text-decoration: underline;
    }
  }

  &:deep(.mktoField.mktoEmailField) {
    height: 44px;
  }
  &:deep(.mktoFieldWrap.mktoRequiredField) {
    display: flex;
    flex-direction: column;
  }
  &:deep(.mktoErrorMsg) {
    color: red !important;
  }
  &:deep(.mktoInvalid) {
    border: 1px solid red !important;
  }
  &:deep(.mktoButton) {
    width: 174px !important;
  }
}

.sticky-container {
  position: sticky;
  top: 100px;
}
</style>
